telethon>=1.21.1
telethon-session-sqlalchemy
aiohttp[speedups]>=3.5.4
aiohttp
aria2p
async_generator
bs4
beautifulsoup4
cairosvg
carbonnow
chromedriver-autoinstaller
cowpy
cryptg
currencyconverter
dnspython
python-dotenv
emoji
emoji-country-flag
gitpython
google-api-python-client
google-auth-oauthlib
git+https://github.com/Joeclinton1/google-images-download.git
googletrans==4.0.0rc1
google-trans-new
gsearch
gTTS>=2.1.1
gTTS-token>=1.1.3
hachoir
heroku3
html_telegraph_poster
httplib2
humanize
imagedown
langdetect
lottie
lxml
lyricsgenius
numpy
oauth2client
Pillow
psutil
psycopg2
pybase64
pydub
pylast
pySmartDL
python-barcode
pytz
qrcode
requests
search-engine-parser
selenium
speedtest-cli>=2.0.2
spotdl
spotify_token
sqlalchemy==1.3.23
telegraph
urbandict>=0.5
wikipedia>=1.4.0
youtube_dl>=2021.2.10
youtube-search>=2.1.0
youtube-search-python>=1.3.2
gTTS>=2.1.1
gTTS-token>=1.1.3
pearl
